<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.emi_calculator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:name="androidx.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Emi_Calculator">
        <activity
            android:name=".NewBtTopupActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BTHistoryActivity" />
        <activity android:name=".statistics.Design_StatisticsActivity" />
        <activity android:name=".Emi_detailsActivity" />
        <activity android:name=".Compond_interestActivity" />
        <activity android:name=".FeedbackActivity" />
        <activity android:name=".InviteActivity" />
        <activity android:name=".AboutusActivity" />
        <activity android:name=".EMI_perlakhsActivity" />
        <activity android:name=".DocumentActivity" />
        <activity android:name=".FaqsActivity" />
        <activity android:name=".Current_roi_interestActivity" />
        <activity android:name=".CompareLoanActivity" />
        <activity android:name=".Check_eligibilityActivity" />
        <activity android:name=".Bt_topupActivity" />
        <activity
            android:name=".Emi_calculator"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".MainActivity"></activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="ae5de019a851cee96696a4c7c019c214d1629e6c" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3491660567793370~2218547045" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.emi_calculator.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>